services:
  admin-web:
    build:
      context: ./admin-web
      dockerfile: Dockerfile.prod
      args:
        REACT_APP_API_URL: https://bot.se2botconsult.tech
    ports:
      - "3000:3000"
    depends_on:
      - backend


  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bot-for-consultations
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres_db:5432/bot-for-consultations
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=admin
      - BOT_TOKEN=${BOT_TOKEN}

    depends_on:
      - postgres_db


  postgres_db:
    image: postgres:15-alpine
    container_name: postgres15    docker rm $(docker ps -aq)
    restart: unless-stopped
    environment:
      - POSTGRES_DB=bot-for-consultations
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    ports:
      - "5432:5432" # 5432 - может быть занят
    volumes:
      - postgres_data:/var/lib/postgresql/data



volumes:
  postgres_data:



